*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    font-family: 'Yusei Magic', Arial, sans-serif;
    background-color:rgb(29, 0, 59);
}

/* This is Header */

header
{
    background-color: rgb(255, 255, 0);
    display: inline-block;
    box-shadow: 0 8px 10px rgba(0, 0, 0,);
    width: 100%;
    clear: both;
    content: '';
    display: table;
}

nav
{
    display: flex;
    justify-content: space-between;
}

.LogoHeader
{
    width: 75px;
    height: 75px;
    float: left;
    padding: 10px;
}

.menu
{
    width: 900px;
    margin: 0 auto;
}

nav
{
    float: right;
}

nav ul li
{
    list-style: none;
    margin-left: 30px;
    margin: 15px;
    padding: 20px 0;
    float: left;
    position: relative;
}

.header-nav-item a
{
    text-decoration: none;
    font-size: 1.4rem;
}

.header-nav-item a:hover::before
{
    width: 100%;
}

.header-nav-item a:hover
{
    color: rgb(0, 166, 255);
}

.header-nav-item a:active
{
    color:rgb(0, 255, 0);
}

.header-nav-item a::after
{
    content: '';
}

nav ul li a::before
{
    display: block;
    content: '';
    width: 0%;
    background-color: rgb(0, 255, 0);
    height: 7.5px;
    top: 0;
    position: absolute;
}

/* This is Main */

main
{
    color: white;
}

.aqui1
{
    text-decoration: none;
}

.quienesSomos
{
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    width: auto;
    text-align: center;
    border-color: white 3px;
}
h1
{
    font-size: 3.2rem;
    padding: 5px;
}

.gifGravity
{
    width: 500px;
    justify-content: center;
    padding: 10px;
}
.comoParticipar
{
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    width: auto;
    text-align: center;
}

/* Discord For Windows */

.discordWindows
{   
    text-decoration: none;
}
.discordWindows::after
{
    content: " | ";
}
.discordWindows::before
{
    content: " | ";
}

/* Discord For Android */

.discordAndroid
{   
    text-decoration: none;
}
.discordAndroid::after
{
    content: " | ";
}
.discordAndroid::before
{
    content: " | ";
}

/* Discord For IOS */

.discordIOS
{   
    text-decoration: none;
}
.discordIOS::after
{
    content: " | ";
}
.discordIOS::before
{
    content: " | ";
}

.imgDiscord
{
    width: 550px;
    padding: 35px;
}
p
{
    padding: 15px;
}

.comoUnirme
{
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    width: auto;
    text-align: center;
}

p
{
    padding: 15px;
}

.joinServer
{
    text-decoration: none;
}

/* This is the ASIDE */

aside
{
    display: flex;
    justify-content: center;
}

aside section h1
{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

.box
{
    background-color: rgb(0, 102, 255);
    display: inline-block;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    font-size: 1.6rem;
    border-color: rgb(0, 255, 0);
}

.box1
{
    display: inline-block;
    padding: 15px;
}

/* This is the FOOTER */

footer
{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 0);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.h1redes
{
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RedesSociales
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.LogoFooter
{
    width: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

